// Define variables

$navigation-color: #f3f3f3;
$border-color: #f7f7f7;
$border-color-bold: #d1d1d1;
$gray-color: gray;

// For navigation
$hover-nav-item-mobile-color: #cccccc;

// For icon
$purple-icon-color: #8a1e57;

// For responsive
$mobile-view: 576px;
