// Define variables

$navigation-color: #f8f9fa;
$border-color: #eeeeee;

// For navigation
$hover-nav-item-mobile-color: #cccccc;

// For icon
$purple-icon-color: #e770df;

// For responsive
$mobile-view: 576px;
